* {
    box-sizing: border-box;
}
body {
    background-color: aqua;
    margin:0;
}

#header-nav {
    background-color: rgb(245, 245, 189);
    margin:0;
}
.container {
    padding-left:15px;
    padding-right:15px;
}

#store_logo {
    width: 100px;
    height: 100px;
}