* {
    box-sizing: border-box;
}
h1 {
    margin-bottom: 15px;
}

p {
    border: 1px solid black;
    background-color: red;
    width: 90%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.row {
    width:100%;
}


.col {
    float: left;
    border: 1px solid green;
}

/* large screens */
@media (min-width: 1200px) {
    /* 1 col wide, 12 divs per line */
    .col-lg-1 {
        width: 8.33%;
    }
    /* 2 col wide, 6 divs per line */
    .col-lg-2 {
        width: 16.66%;
    }
    /* 3 cols wide, 4 divs per line */
    .col-lg-3 {
        width: 25%;
    }
}

/* medium screens */
@media (min-width: 992px) and (max-width: 1199px) {
    /* 3 cols wide, 4 divs per line */
    .col-md-3 {
        width: 25%;
    }
    /* 4 cols wide, 3 divs per line */
    .col-md-4 {
        width: 33.33%;
    }
    /* 6 cols wide, 2 divs per line */
    .col-md-6 {
        width:50%;
    }
}

/* small screens */
@media (max-width: 991px) {
    .col-sm-6 {
        width:50%;
    }
}