*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color:grey;
}
.box {
    width:100px;
    height:100px;
    margin:10px;
    border:5px solid black;
}

#one {
    background-color: aqua;
}

#two {
    background-color: blueviolet;
}

#three {
    background-color: chocolate;
}

#four {
    background-color: darkgreen;
}

/* medium width devices */
@media (min-width: 992px) and (max-width: 11999px){
    .box {
        float:left;
        background: url('https://humethnet.files.wordpress.com/2016/02/100px-biohazard_symbol_red-svg.png');
    }
}

@media (min-width: 1200px) {
    .box {
        float:left;
        margin-left:10%;
    }
}
section {
    clear:both;
}