* {
    box-sizing: border-box;
    margin:0%;
}

body {
    padding: 10px;
}
h1 {
    text-align: center;
    margin: 30px;
}
.food_box {
    border: solid black;
    background: grey;
    overflow: auto;
    margin:10px;
    display: inline-block;
}

/* Desktop view */
@media (min-width: 992px) {
    .lg-4-col {
        width:33.33%;
        float:left;
    }
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 991px){
    .md-6-col {
        width:50%;
        float:left;
        /* margin-left: 50px; */
        /* clear:right; */
    }
}

.margin {
    /* margin: 20px; */
    margin:50%;
}
h2.food_type{
    border:solid black;
    width: 150px;
    text-align: center;
    float: right;
    clear:left;
}

#chicken {
    background-color:pink;
}

#beef {
    background-color: red;
}

#sushi {
    background-color: yellow;
}

article.food_type {
    float:left;
    margin:10px;
    margin-bottom: 0px;
}